.Container2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.Card2{
    width: 20%;
    height: auto;
    margin: 10px;
    box-sizing: border-box;
    transform: translate(100px);
}
.button{
    margin-right: 30px;
}
